<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>GeoLocator</title>
        <meta name="robots" value="none" />
    </head>
    <body>
    <div id="yourinfo"></div>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        function parseSecond(val) {
            var result = "Not found",
            tmp = [];
            var items = location.search.substr(1).split("&");
            for (var index = 0; index < items.length; index++) {
                tmp = items[index].split("=");
                if (tmp[0] === val) result = decodeURIComponent(tmp[1]);
            }
            return result;
        }

        //var sid = parseSecond('sid');
        var sid = "test";
        var d = new Date();
        if(google.loader.ClientLocation)
        {

            var visitor_lat = google.loader.ClientLocation.latitude;
            var visitor_lon = google.loader.ClientLocation.longitude;
            var visitor_city = google.loader.ClientLocation.address.city;
            var visitor_region = google.loader.ClientLocation.address.region;
            var visitor_country = google.loader.ClientLocation.address.country;
            var visitor_countrycode = google.loader.ClientLocation.address.country_code;

            document.getElementById('yourinfo').innerHTML = '<p>Lat/Lon: ' + visitor_lat + ' / ' + visitor_lon + '</p><p>Location: ' + visitor_city + ', ' + visitor_region + ', ' + visitor_country + ' (' + visitor_countrycode + ')</p>';

            $(function() {
                $('a#calculate').bind('click', function() { 
                    $.getJSON($SCRIPT_ROOT + '/get_location', {
                    sid : sid,
                    date : d,
                    visitor_lat : visitor_lat,
                    visitor_lon : visitor_lon,
                    visitor_city : visitor_city,
                    visitor_region : visitor_region,
                    visitor_country : visitor_country,
                    visitor_countrycode : visitor_countrycode
                 }, function(data) {
                $("#result").text(data.result);
                });
                return false;
                });
            });
        }
        else
        {
            document.getElementById('yourinfo').innerHTML = '<p>Error</p>';
        }
    </script>
    <span id=result></span>
    <p><a href=# id=calculate>store in the server</a>
    </body>
</html>